node_modules
node_modules/*
package.json
package-lock.json
Lab1/bin/*
Lab1/bin
Lab1/obj/*
Lab1/obj
Lab1/Properties/*
Lab1/Properties
Lab3/bin/*
Lab3/bin
Lab3/obj/*
Lab3/obj
Lab3/Properties/*
Lab3/Properties
Lab4/bin/*
Lab4/bin
Lab4/obj/*
Lab4/obj
Lab4/Properties/*
Lab4/Properties
Lab4/appsettings.json
Lab4/appsettings.Development.json
Lab5/bin/*
Lab5/bin
Lab5/obj/*
Lab5/obj
Lab5/Properties/*
Lab5/Properties
Lab5/appsettings.json
Lab5/appsettings.Development.json
Lab6/bin/*
Lab6/bin
Lab6/obj/*
Lab6/obj
Lab6/Properties/*
Lab6/Properties
Lab6/appsettings.json
Lab6/appsettings.Development.json
