@{
    Layout = "_Layout";
    ViewData["Title"] = "Song Form";
}

<h2>SongForm</h2>
<p>
    Enter the number of bottles between 50 and 100:
    <input type="text" name="inputBox" />
    <button name="btn" onclick="location.href='@Url.Action("Sing", "Home")';return false;">Sing!</button>
</p>


