@model Assignment2.Models.ViewModels.BrokeragesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ads Index</h1>

<p>
    <a asp-action="Create">Upload New</a>
</p>

<a asp-controller="Broker" asp-action="Index">Back to List</a>


